:root{
    --light-green: #71d5c2;
    --light-green-opacity: #71d5c2b8;
    --white: #fafafa;
    --black: #161616;
    --nav-border-bottom-color: #80808026;
    
    --signup-bgimg: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}